%h1 ログイン

- if flash.now[:danger].present?
  .alert.alert-danger
    - flash.now[:danger].each do |message|
      = message
      %br

= form_with scope: :session, url: login_path do |f|
  .form-group.row
    = f.label :login, 'ユーザーID', class: 'col-form-label col-sm-2'
    .col-sm-6
      = f.text_field :login, class: 'form-control', id: 'session_login'
  .form-group.row
    = f.label :password, 'パスワード', class: 'col-form-label col-sm-2'
    .col-sm-6
      = f.password_field :password, class: 'form-control', id: 'session_password'
  = f.submit 'ログインする', class: 'btn btn-primary'
